.header{
	background-color: #f6f6f6;
	padding: 10px;
	text-align: center;
}

body{
	background-color: #f6f6f6;
}

.column{
	float: left;
}

.column.left {
    width: 7%;
}

.column.right {
    width: 93%;
	background-color: #ffffff;
}

.nav{	
	text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnail_right{
	clear: right;
	float: right;
	padding: 2px;
	background-color: #dddddd;
}

.heading{
	border-bottom: 1px solid #cccccc;
	text-align:center;
}

.image{
	max-width: 300px;
	margin: 10px;
}

.image.title{
	max-width: 500px;
}

.box1{
	background-color: #008744;
}

.box2{
	background-color: #0057e7;
}

.box3{
	background-color: #d62d20;
}

.box4{
	background-color: #ffa700;
}